<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index2.css" />
    <title>sms-menu</title>
  </head>
  <body>
    <div class="container">
      <div class="container__header">
        <img
          src="https://media.istockphoto.com/vectors/world-education-vector-id836073040?k=20&m=836073040&s=612x612&w=0&h=fzdqHwK61dRWMUFj7i2dFg9d730RePfQHRpLuvO4IkI="
          alt=""
          class="logo"
        />
        <h1 class="header">SMS</h1>
      </div>
      <div class="container__body">
        <div class="container__bodyLeft">
          <button class="Btn studentBtn">Students Table</button>
        </div>

        <div class="container__bodyRight">
          <button class="Btn moduleBtn">Modules Table</button>
        </div>
      </div>
    </div>

    <!-- JavaScript -->
    <script src="index2.js"></script>
  </body>
</html>
